@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }
  25% {
    transform: scale3d(0.975, 0.975, 0.975);
  }
  50% {
    transform: scale3d(1, 1, 1);
  }
  75% {
    transform: scale3d(0.975, 0.975, 0.975);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translate3d(140ch, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-120ch, 0, 0);
  }
}
@keyframes wiggle {
  0% {
    margin-left: 10%;
  }
  50% {
    margin-left: -10%;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: white;
  }
  :root {
    --button-selection: rgba(0,0,0, 0.5); /*Theme-aware button text background on selection*/
  }
}
@media (prefers-color-scheme: light) {
  body {
    background: white;
    color: black;
  }
  :root {
    --button-selection: rgba(255,255,255, 0.5); /*Theme-aware button text background on selection*/
  }
}
@media (prefers-reduced-motion) {
	* {
		transition: none !important;
  }
}
@media (min-width: 1100px) {
  @keyframes scroll {
    animation-play-state: paused;
  }
  .donate, .donate-subpage, .tab {
    justify-content: center;
  }
}
:root {
  --accent: #1a73e8;
  --accent-bg: rgba(26, 115, 232, 0.15);
  --accent-hover: rgba(26, 115, 232, 0.25);
}
* {
  background: var(--body-background);
  border: none;
  color: var(--body-color);
  font-family: "Open Sans";
  outline: none;
}
a {
  text-decoration: none;
  transition: 0.5s; /*Animate link color on hover*/
}
a:hover {
  color: var(--accent);
}
.box:hover a,
.button-home:hover,
.button-right:hover {
  color: var(--body-color);
}
/*Scrollbar transparent background*/
body {
  overflow: overlay;
}
/*Animated elements*/
.box,
button,
.button-home,
.button-right,
.card,
.caption,
.date,
h1,
h2,
h3,
img,
img.small,
p,
ul {
  animation: fade 0.5s;
  transition: 0.5s;
}
.box,
.card,
.donate,
.donate-subpage,
.tab {
  background: var(--accent-bg);
  border-radius: 18px;
}
.box,
.card {
  margin: 1em 0;
  padding: 0.15em 1.5em 1em;
}
.box:hover {
  background: var(--accent-hover);
  box-shadow: 0 0 20px 4px var(--accent);
  transform: scale3d(1.01, 1.01, 1.01);
}
button {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.button-home {
  left: calc(4% + 8px);
  position: absolute;
  z-index: 1;
}
.button-right {
  float: right;
}
.button-home,
.button-right,
.caption {
  background: var(--accent);
  border-radius: 18px;
  font-size: large;
  font-weight: 700;
  line-height: 24px;
  margin: 4px 0;
  padding: 7px 14px;
}
.button-home:hover,
.button-right:hover {
  border-radius: 20px;
  cursor: pointer;
  display: block;
  padding: 8px 16px;
}
.button-right:hover,
.caption:hover {
  border-radius: 20px;
  filter: drop-shadow(0 0 1rem var(--accent));
  padding: 8px 16px;
}
/*Theme-aware button text background on selection*/
.button-home::selection,
.button-right::selection,
.caption::selection,
.tab button.active::selection,
.tab button:hover::selection {
  background: var(--button-selection);
}
.caption {
  cursor: text;
  margin: 2em auto;
  width: fit-content;
}
.date {
  font-size: small;
  opacity: 0.7;
  padding-bottom: 1em;
}
.donate,
.donate-subpage {
  font-size: small;
  font-weight: 700;
  line-height: 46px;
}
.donate,
.donate-subpage,
.tab {
  align-items: center; /*Fix button transition on hover misalignment*/
  display: flex;
  height: 46px;
  overflow-x: scroll;
  white-space: nowrap;
}
/*Hide horizontal & vertical scrollbars*/
.donate::-webkit-scrollbar,
.donate-subpage::-webkit-scrollbar,
.tab::-webkit-scrollbar {
  height: 0;
  width: 0;
}
.footer {
  font-size: small;
  text-align: center;
}
h1 {
  animation: pulse 4s;
  animation-delay: 1s;
  color: var(--accent);
  padding-bottom: 1%;
  text-align: center;
}
h1:hover {
  filter: drop-shadow(0 0 1rem var(--accent));
  transform: scale3d(1.025, 1.025, 1.025);
}
h2 {
  padding: 0.25% 0 0.15%;
}
hr {
  background: var(--accent);
  border-radius: 4px;
  height: 4px;
  margin-top: 1em;
}
html {
  caret-color: var(--accent);
  padding: 1% 4%;
  scrollbar-color: var(--accent) transparent;
  scrollbar-width: thin;
  transition: color 0.5s;
}
img,
img.small {
  border-radius: 4px;
  display: block;
  margin: 1% auto;
  width: 50%;
}
img.small {
  width: 25%;
}
/*Zoom-in on images and add top and bottom spacing whilst keeping the centered position intact.*/
img:hover {
  margin: 4% auto;
  transform: scale3d(1.15, 1.15, 1.15);
}
img.small:hover {
  margin: 2% auto;
  transform: scale3d(1.25, 1.25, 1.25);
}
li {
  list-style-type: disc;
  margin: 0.8em 2.5em;
}
li.clean {
  list-style-position: outside;
  list-style-type: none;
}
/*Paragraphs below bullet points*/
p.li {
  margin: 0.8em 3em;
}
::selection {
  background: var(--accent-hover);
}
.scrollable-text,
.scrollable-text-index {
  animation: 10s linear infinite scroll;
}
.scrollable-text:hover,
.scrollable-text-index:hover,
.tab-wiggle:hover {
  animation-play-state: paused;
}
.tab {
  overflow-x: scroll;
}
.tab button,
.tab button.active {
  border-radius: 18px;
  font-size: large;
  line-height: 24px;
  margin: 0px 4px;
  padding: 7px 14px;
}
.tab button.active {
  color: var(--accent);
  font-weight: 700;
}
.tab button:hover,
.tab button.active:hover {
  background: var(--accent);
  border-radius: 20px;
  color: var(--body-color);
  cursor: pointer;
  font-weight: 700;
  padding: 8px 16px;
  margin: -2px 4px;
}
.tab-wiggle {
  animation: wiggle 2s;
  padding: 4px;
}
ul {
  padding: 0;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 4px;
}
